<ion-view view-title="Notification" name="t_leave-view">
  <ion-content class="padding">
 	<div ng-hide="!hasNotification">
 	<ion-list ng-disabled="viewed">
  		<ion-item ng-repeat="notification in notification_list">
 			<h2>{{notification.Title}}</h2>
 			<h4>{{notification.Comment}}</h4>
 		</ion-item>
 	</ion-list>
 	</div>	
  </ion-content>
</ion-view>  