<ion-view view-title="DashBoard" name="dashboard-view" ng-app="dashboard">
  <ion-content class="padding">
    <div ng-repeat="menu in menu_list" >
       <div ng-if="$index%3==0" class="row padding">
            &nbsp;&nbsp;
            <div ng-show="{{$index < menu_list.length}}" class="col col-33 form-control" style="height:{{widthinPX}}px; width:{{widthinPX}}px;" ng-click="get_menu_list_item({{menu_list[$index]['PageType']}})">
                <center>
                  <img src="img/{{menu_list[$index]['ImageUrl']}}.png" alt="{{menu_list[$index]['Name']}}" style="height:{{widthinPX*60/100}}px; width:{{widthinPX*60/100}}px;">
                  <!-- <img src="/img/school.jpeg" style="height:{{widthinPX*60/100}}px; width:{{widthinPX*60/100}}px;">  -->
                  <br>
                  <b>
                    <span style="font-size: {{widthinPX*10/100}}px;">{{menu_list[$index]["Name"]}}</span>
                  </b>
                </center>
            </div>
            &nbsp;&nbsp;
            <div ng-show="{{$index+1 < menu_list.length}}" class="col col-33  form-control" style="height:{{widthinPX}}px; width:{{widthinPX}}px;" ng-click="get_menu_list_item({{menu_list[$index+1]['PageType']}})">
                <center>
                    <img src="img/{{menu_list[$index + 1]['ImageUrl']}}.png" alt="{{menu_list[$index + 1]['Name']}}" style="height:{{widthinPX*60/100}}px; width:{{widthinPX*60/100}}px;">
                    <!-- <img src="/img/school.jpeg" style="height:{{widthinPX*60/100}}px; width:{{widthinPX*60/100}}px;"> -->
                    <br>
                    <b>
                      <span style="font-size: {{widthinPX*10/100}}px;">{{menu_list[$index+1]["Name"]}}</span>
                    </b>
                </center>
            </div>
            &nbsp;&nbsp;
            <div ng-show="{{$index+2 < menu_list.length}}" class="col col-33  form-control" style="height:{{widthinPX}}px; width:{{widthinPX}}px;" ng-click="get_menu_list_item({{menu_list[$index+2]['PageType']}})">
                <center>
                  <img src="img/{{menu_list[$index + 2]['ImageUrl']}}.png" alt="{{menu_list[$index + 2]['Name']}}" style="height:{{widthinPX*60/100}}px; width:{{widthinPX*60/100}}px;">
                  <!-- <img src="/img/school.jpeg" style="height:{{widthinPX*60/100}}px; width:{{widthinPX*60/100}}px;"> -->
                  <br>
                  <b><span style="font-size: {{widthinPX*10/100}}px;">{{menu_list[$index+2]["Name"]}}</span></b>
                </center>
            </div>
       </div>
    </div>
  </ion-content>
</ion-view>