<ion-view view-title="Exam Timetable" name="examtimetable-view" ng-app="examtimetable">
  <ion-content class="padding">
    <label class="item item-input item-select">
      <div class="input-label">
          Select Exam
      </div>
      <select ng-options="timtble.Name for timtble in timtble_list" ng-model="selectedItem" ng-change="display_info(selectedItem)">
          <option  value="">Select Exam</option>
      </select>
    </label>
    <div class="row"></div>
    <div ng-repeat="schedule in schedule_list">
        <div>&nbsp;&nbsp;{{schedule['Date']}} - {{schedule['Name']}}</div>
        <div class="underline">&nbsp;&nbsp;'Total Marks': {{schedule['TotalMarks']}} , 'Time': {{schedule['ExamTime']}}</div>
        <br/>
        <!-- <div class="row">&nbsp;</div> -->
    </div>
  </ion-content>
</ion-view>