<ion-view view-title="Head Count" name="p_headcount-view" ng-app="p_headcount">
  <ion-content class="padding">
  
<div ng-hide="isUser">
  <label class="item item-input item-select">
    <div class="input-label">
      Select User
    </div>
    <select ng-model="selectedItem" ng-change="getUser(selectedItem)">
      <option  value="">Select User</option>
      <option  value="employee">Employee</option>
      <option  value="student">Student</option>
    </select>
  </label>
</div>

<br>

<div ng-hide="!isStandard">
  <label class="item item-input item-select">
    <div class="input-label">
        Select Standard
    </div>

    <select ng-options="standard.Name for standard in standard_list" ng-model="selectedStd" ng-change="standardId(selectedStd)">
        <option  value="">Select Standard</option>
    </select>
  </label>
</div>

<br>

<div ng-hide="!isEmployee">
  <!-- TimeTable Header -->
  <div class="row">
    <div style="width:33.33%; text-align:center;">
      <b>Total</b>  
    </div>
    <div style="width:33.33%; text-align:center; "> 
      <b>Total Male</b>
    </div>
    <div style="width:33.33%; text-align:center;">
      <b>Total Female</b>
    </div>
  </div>

  <!-- TimeTable Data -->
  
  <div class="row">
    <div style="width:33.33%; text-align:center;">
      <p ng-model="total">{{total}}</p>  
    </div>
    <div style="width:33.33%; text-align:center; "> 
      <p ng-model="male">{{male}}</p>
    </div>
    <div style="width:33.33%; text-align:center;">
      <p ng-model="female">{{female}}</p>
    </div>
  </div>
</div>

  <!-- Student HeadCount --> 

<div ng-hide="!isSHeadCount">
    <ion-list >
      <ion-item class="item-borderless" ng-repeat="standard in std_list" >
         <div class="row">
            <div style="width:20%; text-align:center;">
              <b >{{standard.ClassTypeName}}</b>  
            </div>
            <div style="width:20%; text-align:center; " ng-repeat="summary in standard.StudentSummary"> 
              <b >{{summary.CategoryName}}</b>
            </div>
          </div>
          
          <div class="row">
            <div style="width:20%; text-align:center;">
              <p >{{standard.Total}}</p>  
            </div>
            <div style=" width:20%; text-align:center; " ng-repeat="summary in standard.StudentSummary"> 
                <p >{{summary.Total}}</p>
            </div>  
          </div>     
      </ion-item>

    </ion-list>

   <!--  <ion-list >
      <div class="row">
      <ion-item class="item-borderless" ng-repeat="std in std_list" >
            <div style="width:20%; text-align:center;">
              <p >"hello</p>  
            </div>
      </ion-item>      
       <ion-item class="item-borderless" ng-repeat="summary in std_summary" >
            <div style="width:20%; text-align:center; "> 
              <p >"hello</p>
            </div>
            <div style="width:20%; text-align:center;">
              <p >{{summary.Total}}</p>
            </div>
            <div style="width:20%; text-align:center;">
              <p >{{summary.Total}}</p>
            </div>
               <div style="width:20%; text-align:center;">
              <p >{{summary.Total}}</p>
            </div>

          </div>
      </ion-item>
    </ion-list> -->

</div>   
</ion-content>
</ion-view>