<ion-view view-title="TimeTable" name="p_timetable-view" ng-app="p_timetable">
  <ion-content class="padding">
  <div class="button-bar" style="position: absolute; margin-left:30%;" > 
    <input type="radio" ng-model="choice" value="Teacher" ng-change="getUserType(choice)">Teacher</input>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" ng-model="choice" value="Student" ng-change="getUserType(choice)">Student</input>
  </div>

  <br><br>
  
  <div ng-hide="!isTeacher">
  <label class="item item-input item-select">
    <div class="input-label">
        Select Teacher
    </div>

    <select ng-options="teacher.Name for teacher in teacher_list" ng-model="selectedItem" ng-change="teacherId(selectedItem)">
        <option  value="">Select Teacher</option>
    </select>
  </label>
</div>
<div ng-hide="!isStudent">
  <label class="item item-input item-select">
    <div class="input-label">
        Select Student
    </div>

    <select ng-options="student.Name for student in student_list" ng-model="selectedItem" ng-change="studentId(selectedItem)">
        <option  value="">Select Student</option>
    </select>
  </label>
</div>

<br><br>

<div ng-hide="!isTTimetable">
  <!-- TimeTable Header -->
  <div class="row">
    <div style="width:25%; text-align:center;">
      <b >No</b>  
    </div>
    <div style="width:25%; text-align:center; "> 
      <b >Std</b>
    </div>
    <div style="width:25%; text-align:center;">
      <b >class</b>
    </div>
    <div style="width:25%; text-align:center;">
      <b >Subject</b>
    </div>
  </div>

    <!-- TimeTable Data -->

    <ion-list >
      <ion-item class="item-borderless" ng-repeat="timetable in schedule" >
         <div class="row">
            <div style="width:25%; text-align:center;">
              <p >{{timetable.LectureName}}</p>  
            </div>
            <div style="width:25%; text-align:center; "> 
              <p >{{timetable.StandardName}}</p>
            </div>
            <div style="width:25%; text-align:center;">
              <p >{{timetable.ClassTypeName}}</p>
            </div>
            <div style="width:25%; text-align:center;">
              <p >{{timetable.SubjectName}}</p>
            </div>
          </div>
      </ion-item>
    </ion-list>

</div>

  <!-- Student TimeTable --> 

<div ng-hide="!isSTimetable">
  <!-- TimeTable Header -->
  <div class="row">
    <div style="width:33.33%; text-align:center;">
      <b >No</b>  
    </div>
    <div style="width:33.33%; text-align:center; "> 
      <b >Subject</b>
    </div>
    <div style="width:33.33%; text-align:center;">
      <b >Teacher</b>
    </div>
  </div>

    <!-- TimeTable Data -->

    <ion-list >
      <ion-item class="item-borderless" ng-repeat="student in stud_schedule" >
         <div class="row">
            <div style="width:33.33%; text-align:center;">
              <p >{{student.LectureName}}</p>  
            </div>
            <div style="width:33.33%; text-align:center; "> 
              <p >{{student.SubjectName}}</p>
            </div>
            <div style="width:33.33%; text-align:center;">
              <p >{{student.TeacherName}}</p>
            </div>
          </div>
      </ion-item>
    </ion-list>

</div>   
</ion-content>
</ion-view>