<ion-view view-title="Sample Paper" name="sample-paper-view" ng-app="shamplw">
  	<ion-content class="padding" ng-init="loadSubjects()">
  		<label class="item item-input item-select">
	        <div class="input-label">
	           Select Subject
	        </div>
	        <select ng-options="subject.Name for subject in subject_list" ng-model= " 
	        subjectList" ng-change="getPaper(subjectList)">
	           <option value="">Select Subject</option>
	        </select>
	    </label>
	    <div ng-repeat="paper in paper_list">
	    <label>{{paper.Name}} </label>	
	    <div class="row" ng-repeat="sample in paper.ExamplePaperDetails" ng-if="	$index % 4 === 0">

	        <div class="col col-25" ng-if="$index < paper.ExamplePaperDetails.length">	
	            <img ng-src="http://school.jmsofttech.com{{paper.ExamplePaperDetails[$index].FilePath}}" width="100%" />
	        </div>
	        <div class="col col-25" ng-if="$index + 1 < paper.ExamplePaperDetails.length">
	            <img ng-src="http://school.jmsofttech.com{{paper.ExamplePaperDetails[$index].FilePath}}" width="100%" />
        	</div>
        	<div class="col col-25" ng-if="$index + 2 < paper.ExamplePaperDetails.length">
        	    <img ng-src="http://school.jmsofttech.com{{paper.ExamplePaperDetails[$index].FilePath}}" width="100%" />
       		</div>
	        <div class="col col-25" ng-if="$index + 3 < paper.ExamplePaperDetails.length">
	            <img ng-src="http://school.jmsofttech.com{{paper.ExamplePaperDetails[$index].FilePath}}" width="100%" />
	        </div>
    	</div>

  	</ion-content>
</ion-view>  	