<ion-view view-title="Result" name="result-view" ng-app="result">
  <ion-content class="padding">
    <label class="item item-input item-select">
      <div class="input-label">
          Select Exam
      </div>
      <select ng-options="examtype.Name for examtype in examtype_list" ng-model="selectedItem" ng-change="examId(selectedItem)">
          <option  value="">Select Exam</option>
      </select>
    </label>
  <div class="input-label">
    &nbsp;
  </div>
  <div ng-hide="result_available">
	<ion-list ng-disabled="viewed">
  		<ion-item ng-repeat="result in result_data">
        <div >
        <b class="alignleft">{{result.SubjectName}}</b> <p class="alignright">{{result.TotalObtainedMarks}} out of {{result.TotalMarks}}</p></div>
    		<br>
        <div >
          <p class="alignleft">{{result.ExamDate}}</p> 
          <div ng-if="result.IsPass === 1">
              <img  class="result_pass_img" src="/img/pass.png">
          </div>
          <div ng-if="result.IsPass === 2">
            <img  class="result_fail_img" src="/img/fail.png">
          </div>
        </div>
  		</ion-item>
	</ion-list>
  </div>
  </ion-content>
</ion-view>