<ion-view view-title="Complain Details" name="complain-detail-view" ng-app="complain-detail">
  <ion-content class="padding">
  <div ng-hide="details_available">
	<ion-list >
  		<ion-item class="item-borderless" ng-repeat="detail in complain_detail_data" >
        <div ng-if="detail.DisplayLeft" >
          <p class="alignleft">{{detail.Comment}}</p>
 
        </div>
        <div ng-if="!detail.DisplayLeft">
         <p class="alignright">{{detail.Comment}}</p>
        </div>
  		</ion-item>
	</ion-list>
  </div>
<!--     <div style="position:absulate; bottom:0px; width:100%">
    <input type="text" placeholder="Enter Message" class="alignleft"/>
  <button class="button">Save</button>
  </div> -->
  </ion-content>
 <!--  <div class="bar bar-footer" style="position: fixed; bottom: 0em;">
 -->  
 <ion-footer-bar class="footer-bar-custom">
  <div class="footer_list">
  <div class="item item-input-inset item-borderless">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Enter Message" ng-model="post.message">
    </label>
    <button class="button button-small" ng-click="sendComplains(post)">
      Send
    </button>
  </div>

  </div> 
</ion-footer-bar>
</ion-view>