<ion-view view-title="HomeWork" name="homework-view" ng-app="homework" ng-init="getStudentHomework()">
  <ion-content class="padding">
    <div class="padding-left">
        <div class="date_container">
            <div class="row">
                <div class="col col-20">
                    <a class="button icon-left ion-chevron-left" ng-click="go_backward()"></a>
                </div>
                <div class="col col-60" align="center" ng-click="openDatePicker()" style="margin-top:12px;">
                    <b>{{currentDate}}</b>
                </div>
                <div class="col col-20" align="right">
                    <a class="button icon-right ion-chevron-right" ng-click="go_forward()"></a>       
                </div>
            </div>
        </div>

        <div ng-hide="homework_available">
        	<ion-list >
          		<ion-item ng-repeat="homework in homework_data">
                    <div class="row">
                        <b class="alignleft" style="width:40%">Subject: </b> <p class="alignright" style="width:60%">{{homework.SubjectName}}</p>
                    </div>
                    <div class="row">
                        <b class="alignleft" style="width:40%">Homework: </b> 
                        <p  class="homework">Hello friends my name is deeo amin. I am developing Ios App</p>
                    </div>
                    <div class="row">
                        <b class="alignleft" style="width:40%">Classwork: </b> <p class="alignright" style="width:60%">{{homework.ClassWork}}</p>
                    </div>
              	</ion-item>
        	</ion-list>
        </div>
    </div>  
  </ion-content>
</ion-view>