<ion-view view-title="Behaviour Notice" name="t_behaviour_notice-view">
  <ion-content class="padding">
  	<div ng-hide="!hasStandard">
  	 <label class="item item-input item-select">
      <div class="input-label">
          Select Standard
      </div>
      <select ng-options="standard.Name for standard in standard_list" ng-model="selectedStd" ng-change="getStdId(selectedStd)">
          <option  value="">Select Standard</option>
      </select>
    </label>
   </div>
   <br>
   
   <!-- Student List --> 
   <div ng-hide="!hasStudents">
   	<ion-list>
  		<ion-item  ng-repeat="student in student_list" ng-click="getStudentId(student)">
        <span>{{student.Name}}</span>
    	</ion-item>
  	</ion-list>
   </div>



  </ion-content>
</ion-view>