<ion-view view-title="Attendance" name="attedance-view" ng-app="attendance">
  <ion-content class="padding">
  <div class="list">
    
    <label class="item item-input item-select" ng-hide="!hasStandard">
       <div class="input-label">
           Select Standard
       </div>
       <select ng-options="standard.Name for standard in standard_list" ng-model="standardList" ng-change="split_id(standardList)">
           <option value="">Select Standard</option>
       </select>
    </label>
    
    <div class="row">&nbsp;</div>
    
    <label class="item item-input item-select" ng-hide="!is_std_selected">
       <div class="input-label">
           Select Exam
       </div>
       <select ng-options="exam.Name for exam in exam_list" ng-model="ExamList" ng-change="get_exam_schedule(ExamList)">
           <option value="">Select Exam</option>
       </select>
    </label>

    <div class="row">&nbsp;</div>

    <label class="item item-input item-select" ng-hide="!is_exam_selected">
       <div class="input-label">
           Select Exam Schedule
       </div>
       <select ng-options="schedule.Name for schedule in schedule_list" ng-model="ScheduleList" ng-change="get_student_list(ScheduleList)">
           <option value="">Select Exam Schedule</option>
       </select>
    </label>

    <div class="row">&nbsp;</div>
    <div ng-hide="!is_schedule_selected">
      <div ng-repeat="student in student_list">
        <div class="row underline" style="margin-left: 0px;">
          <div class="col col-10 ">{{student['RollNumber']}}</div>
          <div class="col col-50">{{student['StudentName']}}</div>
          <label class="item item-input" align="right" style=" margin:auto; height:30%;">
             <input class="form-textbox"  type="number" ng-model="students[student.StudentId]" ng-init="students[student.StudentId] = student.TheoryMarks"  style="margin:auto; height:50%;" ng-change="updateMarks({{student['StudentId']}})">
          </label>
          
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <label class="item item-borderless item-input" style="padding:6px 0 5px 2px;">
        <input type="button" class="button button-positive" value="Save" id="save" ng-click="send_data()"/>
        &nbsp;&nbsp;
        <input type="button" class="button button-positive" value="Notification" id="notification"/>
      </label>
    </div>  

  </div>  

  </ion-content>
</ion-view>

