<ion-view view-title="HomeWork" name="t_homework-view" ng-init="getLectureForDate()">
  <ion-content class="padding">
  	<div class="row" style="padding-left:5%">
        <div class="col col-offset-5" style="border: 1px solid gray;" ng-click="openDatePicker()">
            <b>{{currentDate}}</b>
        </div>
    </div>
      	<!-- Lecture Drop Down -->
    <br>
    <div ng-hide="!hasLecture">
      	<label class="item item-input item-select">
            <div class="input-label">
                Select Lecture
            </div>
            <select ng-options="lecture.LectureName for lecture in lecture_list" ng-model="selectedLecture" ng-change="getLectureId(selectedLecture)">
                <option  value="">Select Lecture</option>
            </select>
        </label>
    </div>
    <br>
    <div ng-hide="!hasHomework">
         <!-- HomeWork Data -->
        <div>
            <span><b>Enter HomeWork</b></span>
            <br>     
            <div class="item item-input padding" style="border:1px solid #ccc; border-radius:10px; width:100%; margin-top:10px;">
                <textarea placeholder="" style="font-size:15px;" ng-model="lesson.HomeWork">{{lesson.HomeWork}}</textarea>
            </div>
        </div>
        <br>
        <br>
          <!-- ClassWork Data --> 
        <div>
            <span><b>Enter ClassWork</b></span>
            <br>     
            <div class="item item-input padding" style="border:1px solid #ccc; border-radius:10px; width:100%; margin-top:10px;">
                <textarea  placeholder="" style="font-size:15px;" ng-model="lesson.ClassWork">{{lesson.ClassWork}}</textarea>
            </div>
        </div>

        <label class="item item-borderless item-input" style="padding:6px 0 5px 2px; margin-top:60px;">
            <input type="button" class="button button-positive" style="border-radius: 20px;" value="Save" id="Save" ng-click="saveHomework(lesson)"/>
        </label>		
    </div>

  </ion-content>
</ion-view>