<ion-view view-title="Behaviour Notice" name="t_behaviour_notice-view" ng-init="getLectureForDate()">
  <ion-content class="padding">
    <div class="list">
        <!-- Date Selecter -->
        <div class="row" style="padding-left:5%">
            <div class="col col-offset-5" style="border: 1px solid gray;" ng-click="openDatePicker()">
                <b>{{currentDate}}</b>
            </div>
        </div>
        
      	<!-- Lecture Drop Down -->
        <br>
        <div ng-hide="!hasLecture">
      	 <label class="item item-input item-select">
          <div class="input-label">
              Select Lecture
          </div>
          <select ng-options="lecture.LectureName for lecture in lecture_list" ng-model="selectedLecture" ng-change="getLectureId(selectedLecture)">
              <option  value="">Select Lecture</option>
          </select>
         </label>
        </div>
        <br>
        <!-- Other Fields() -->  
        <!-- LessonPlan -->  
        <div ng-hide="!hasRecord">
        <div>
           <span><b>Lesson Plan</b></span>
            <br><br>     
           <div class="item item-input" style="border:1px solid #ccc; border-radius:10px; width:100%">
            <textarea placeholder="" ng-model="logbook.LessonPlan">{{logbook.LessonPlan}}</textarea>
           </div>
        </div><br>

        <!-- TeachingAids -->
        <div>
           <span><b>TeachingAids</b></span>
            <br><br>     
           <div class="item item-input" style="border:1px solid #ccc; border-radius:10px; width:100%">
            <textarea placeholder="" ng-model="logbook.TeachingAids">{{logbook.TeachingAids}}</textarea>
           </div>
        </div><br>

        <!-- Comment -->
        <div>
           <span><b>Comment</b></span>
            <br><br>     
           <div class="item item-input" style="border:1px solid #ccc; border-radius:10px; width:100%">
            <textarea placeholder="" ng-model="logbook.Comment">{{logbook.Comment}}</textarea>
           </div>
        </div><br>

        <label class="item item-borderless item-input" style="padding:6px 0 5px 2px; margin-top:60px;">
          <input type="button" class="button button-positive" style="border-radius: 20px;" value="Save" id="Save" ng-click="saveLogbook(logbook)"/>
        </label>  
        </div>  
    </div>
  </ion-content>
</ion-view>   