<ion-view view-title="Today Schedule" name="t_schedule-view" ng-init="getScheduleData()">
  <ion-content class="padding">
    <div class="row" style="margin:auto; width:100%;" >
        <a class="button icon-left ion-chevron-left" ng-click="preDaySchedule()"></a>
        <ion-item class="item" style="width:90%;" ng-click="openDatePicker()">
           <p>{{currentDate}}</p>
        </ion-item>
        <a class="button icon-right ion-chevron-right" ng-click="nextDaySchedule()"></a>
  	</div>
  	<br><br>
  	<!-- Schedule Data -->
  		<div ng-hide="!hasSchedule">
  		<ion-item class="item ">
  			<div class="row">
        		<b class="alignleft" style="width:30%; font-size:15px; text-align:center;">Lecture No</b>&nbsp;&nbsp;
        		<b style="width:35%; font-size:15px; text-align:center;">Standard Name</b>&nbsp;&nbsp;&nbsp;
        		<b style="width:40%; text-align:center; font-size:15px;">Subject Name</b>
      		</div>
  		</ion-item>
  		<ion-list>
  			<ion-item class="item " ng-repeat="schedule in schedule_list">
        	<div class="row">
        		<p class="alignleft" style="width:30%; text-align:center;">{{schedule.LectureName}}</p>
        		<p style="width:35%; text-align:center;">{{schedule.StandardName}}</p>
        		<p style="width:45%; text-align:center;">{{schedule.SubjectName}}</p>
      		</div>
      		</ion-item>
      	</ion-list>	
      	</div>



  </ion-content>
</ion-view>