<ion-view view-title="Upload paper" name="uploadpaper-view" ng-app="uploadpaper">
    <ion-content class="padding has-header">
        <div class="row">
            <div class="input-field col s12">
                <select id="standard-select" ng-model="standard_list" ng-change="split_id(selectedStandard)">
                    <option value="" disabled selected>Select Standard</option>
                </select>
                <label>Select Standard</label>
            </div>
        </div>


	</ion-content>
</ion-view>