<ion-view view-title="Temp" name="temp-view" ng-app="temp">
<!--   <ion-content class="padding">
      <button class="button button-block button-positive" ng-click="openGallery()">Open Gallery</button>

      <img src="file:///data/data/com.ionicframework.digitalpathshala939451/cache/tmp_IMG-20170515-WA00032105967675.jpg" id="smallimage" style="width:auto;height:auto">
  </ion-content> -->
  <ion-content class="has-header padding"> 
  	<!-- {{ImageURI}} -->
  	<h1>Upload Image</h1> 
    
  	<div class="account-picture"> 
		<button ng-click="openGallery()">Select Picture</button> 
		<!-- <img data-ng-src="{{collection.selectedImage}}" style="width:100%; height: 50%;"/>  -->
      <!-- <input type="text" ng-model="collection.selectedImage" size="30"/>  -->
      <!-- <input type="text" ng-model="ImageURI" size="30"/>  -->
    </div> 
		<img data-ng-src="{{ImageURI}}" style="width:100%; height: 50%;"/> 
  </ion-content>
</ion-view>